<% provide(:title, "Home") %>
<!DOCTYPE html>
<head>
	<title><%= yield(:title) %> | Rating System</title>
</head>
<body>
	<h1>Rating System</h1>
	<p>
		This is the home page for the Rating System application.
	</p>
	<p>
		Application created in Ruby on Rails framework (RUBY).
	</p>
	<p>
		Designed for our client.
	</p>
	<p>
		Copyright R - invert8.com
	</p>
</body>
