<h1>Feedback#index</h1>


<h2>Dear [FIRST NAME]</h2>

<p>
Thank you for giving us the opportunity to serve you better. 
Please help us by taking a few minutes to tell us about the service
that you have received so far. We appreciate your business 
and want to make sure we meet your expectations.
</p>

<h3>Sincerely, [MANAGER_NAME] Manager</h3>