<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <%= link_to "Rating system", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li>FEEDBACK</li>
        <li>LOGIN</li>
        <li>REGISTRATION</li>
        <li>CONTACT</li>
      </ul>
    </nav>
  </div>
</header>